@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat',
        sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
}


/* header section starts here */
header{
    margin-top: 50px;

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    color: hsl(237, 63%, 64%);
}

.toggleClass {
    /* border: 1px solid violet; */
    display: flex;
    margin: 25px;
    /* flex-direction: row; */

}

.toggleClass>span {
    color: hsl(233, 13%, 49%);
    font-size: 15px;
    margin-top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 60px;
    margin: 0 30px 0 30px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.4s;
    border-radius: 25px;
    background: hsl(233, 13%, 49%);
    /* background: hsl(237, 63%, 64%); */
}

.switch input {
    display: none;
}

.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 5px 0 0 5px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: hsl(237, 63%, 64%);
}

input:checked+.slider:before {
    background: #fff;
    transform: translateX(30px);
}

/* header section ends here */


/* main section starts here */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    /* margin-bottom: 20px; */
    border-radius: 15px;
    transition: 0.3 all;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
}

.description {
    margin-top: 20px;
}

.card .description,
.card .users,
.card .sendUpto,
.card .storage,
.card .price {
    font-family: "Montserrat";
    color: hsl(232, 13%, 33%);
    display: inline;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.card .price {
    font-family: "Montserrat";
    font-size: 15px;
    color: hsl(232, 13%, 33%);
    display: inline;
    text-align: center;
}

.cardPurple {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height: 400px;
}

.cardPurple .description,
.cardPurple .users,
.cardPurple .sendUpto,
.cardPurple .storage,
.cardPurple .price {
    color: hsl(240, 78%, 98%);

}

.cardPurple>.learnMore {
    font-family: "Montserrat";
    height: 40px;
    width: 75%;
    border-radius: 5px;
    border-color: hsl(236, 72%, 79%);
    background-image: linear-gradient(white, white);
    color: hsl(237, 63%, 64%);
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    /* margin: auto; */
    transition: .3s all;
}

.cardPurple>.learnMore:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
    border-color: hsl(240, 78%, 98%);

}


.card>button {
    font-family: "Montserrat";
    height: 40px;
    width: 75%;
    border-radius: 5px;
    border-color: hsl(236, 72%, 79%);
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: rgb(246, 246, 254);
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    /* margin: 0 30px 20px 60px; */
    transition: .3s all;
    margin-bottom: 10px;
    /* padding: 10px; */
}

button:hover {
    /* height: 40px;
    width: 80%; */
    border-radius: 5px;
    background-image: linear-gradient(white, white);
    color: hsl(237, 63%, 60%);
}


/* main section ends here */
